Source: ruby-childprocess
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Cédric Boutillier <boutil@debian.org>
Build-Depends: debhelper-compat (= 13),
               gem2deb,
               ruby-coveralls (<< 1.0),
               ruby-ffi (>= 1.0.11),
               ruby-rspec (>= 3.0), ruby-rspec (<< 4.0),
               yard,
               locales-all,
               procps,
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-childprocess.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-childprocess
Homepage: https://github.com/jarib/childprocess
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-childprocess
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby,
         ruby-ffi (>= 1.0.11),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Ruby library for controlling external programs running in the background
 This library aims at being a simple and reliable solution for controlling
 external programs running in the background on any Ruby / OS combination.
 .
 The code originated in the selenium-webdriver gem, but should prove useful as
 a standalone library.
